<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>black-home</title>
    <link rel="stylesheet" href="../src/css/black-home.css">
</head>
<body>
    <header>
        <footer>
            <div class="footer_shadow">
            </div>
            <div class="footer_icon">
                    <p>AQUA</p><img class="social-icon" src="../src/storage/img/black-home/Agua.png" alt="Home">
                </a>
            </div>
            <div>
                <ul class="nav__categoria">
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">CÒMO JUGAR</a></li>
                    <li><a href="#">APOYANOS</a></li>
                    <li><a href="#">SOBRE NOSOTROS</a></li> 
                </ul>
                <ul class="nav__categoria2">
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">CÒMO JUGAR</a></li>
                    <li><a href="#">APOYANOS</a></li>
                    <li><a href="#">SOBRE NOSOTROS</a></li>
                </ul>
            </div>
        </footer>
    </header>
    <div class="imagenes">
        <img src="../src/storage/img/black-home/bi_moon-fill.png" alt="Luna">
        <img src="../src/storage/img/black-home/akar-icons_sun-fill.png" alt="Sol">
    </div>
</body>
</html>