<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>black-home</title>
    <link rel="stylesheet" href="../src/css/black-home.css">
</head>
<body>
    <header>
        <footer>
            <div class="footer_shadow">
            </div>
            <div class="footer_icon">
                    <p>AQUA</p><img class="social-icon" src="../src/storage/img/black-home/Agua.png" alt="Home">
                </a>
            </div>
        </footer>
    </header>
</body>
</html>