<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>black-home</title>
    <link rel="stylesheet" href="../src/css/black-home.css">
</head>
<body>
    <header>
        <footer>
            <div class="footer_shadow">
            </div>
            <div class="footer_icon">
                    <p>AQUA</p><img class="social-icon" src="../src/storage/img/black-home/Agua.png" alt="Home">
                </a>
            </div>
            <div>
                <ul class="nav__categoria">
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">CÒMO JUGAR</a></li>
                    <li><a href="#">APOYANOS</a></li>
                    <li><a href="#">SOBRE NOSOTROS</a></li> 
                </ul>
                <ul class="nav__categoria2">
                    <li><a href="#">INICIO</a></li>
                    <li><a href="#">CÒMO JUGAR</a></li>
                    <li><a href="#">APOYANOS</a></li>
                    <li><a href="#">SOBRE NOSOTROS</a></li>
                </ul>
            </div>
        </footer>
        <div class="imagenes">
            <img src="../src/storage/img/black-home/bi_moon-fill.png" alt="Luna">
            <img src="../src/storage/img/black-home/akar-icons_sun-fill.png" alt="Sol">
        </div>
    </header>
    <main>
        <div class="Crae">
            <img src="../src/storage/img/black-home/Capa 2.png" alt="">
            <p class="Descripcion">Somos creatividad, somos Crae</p>
            <p class="Texto">Crae es un juego de cartas inclusivo donde personas videntes, no</p>
            <p class="Texto2">videntes y con discapacidad visual pueden participar y disfrutar en</p>
            <p class="Texto3">conjunto.</p>
        </div>
    </main>
</body>
</html>