<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentacion</title>
    <link rel="stylesheet" href="../src/css/presentacion.css">
</head>
<body>
    <header>
        <img src="../src/storage/img/presentacion/Crae.png">
    </header>
        <main>
            <strong>Página web de producto con accesibilidad visual</strong>
            <p>Crae pretende ser una página web accesible a las personas con dificultad visual/cromática, en donde ofrecemos nuestro producto (ficticio), un juego de cartas con sistema braille y accesible</p>
            <img src="../src/storage/img/presentacion/Computador.png" alt="">
        </main>
        <p class="parrafo"> Proyecto universitario de diseño gráfico, para la asignatura de emprendimientos, 4to semestre</p>
        <img src="../src/storage/img/presentacion/Perros.png" alt="">
</body>
</html>